<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>status</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="inp">
        <h1>Halo, apa kabar?</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" id="submit">submit</button>
        </form>
    </div>
    <div class="posts">
        <h2>Previous Status</h2>
        {% for status in status %}
        <p class="msg"> {{ status.message }} </p>
        <p class="tm"> {{ status.time }} </p>
        {% endfor %}
    </div>
</body>
</html>