* {
    margin: 0%;
}

body {
    background-color: #333333;
}

h1 {
    color: #333333;
    font-family: Helvetica, sans-serif;
    font-size: 7vh;
    margin-top: 0px;
}

label {
    visibility: hidden;
    display: block;
}

input{
    width: 30%;
    margin-bottom: 3%;
    border: solid 1pt #333333;
    border-radius: 20pt;
    font-size: 3vh;
}

button {
    display: block;
    margin: auto;
    border: none;
    font-size: 2.5vh;
    color: teal;
    font-weight: bold;
    text-decoration: underline;
}

.inp {
    text-align: center;
    background-color: white;
    margin: 0px;
    padding: 5%;
}

.posts {
    text-align: center;
    color: white;
    font-family: Helvetica, sans-serif;
}

.posts h2 {
    margin-top: 2%;
    margin-bottom: 1%;
}

.posts p {
    margin: 1%;
}